nav {
  position: fixed;
  top:0;
  width: 100vw;
  height: 120px;
  z-index:10;
  background: #4056A1;
  color: #FFF;
  padding: 1.4em;
  
}
nav span {
  font-family: 'Bungee', cursive;
  font-size: 1.3em;
}
nav div {
  display: inline;
  position: absolute;
  right:1.5em;
}
nav div a {
  font-size: 0.8em;
  float: right;
}
nav div #link-to-tweet {
  font-size: unset;
  margin-top: -2%;
}

@keyframes bouncy {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
	}

	80% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
	}
}

nav div i {
  color:red;
  float:right;
  font-size: 1em;
  margin-right: 65px;
  transition: 0.5s;
}


nav div:hover {
  cursor: pointer;

}




@media only screen and (max-width: 450px){
  nav {
    padding: 1em;
  }
  nav span {
    font-size: 1em;
    position:absolute;
    top: 40px;
  }

  nav div {
    display: inline;
    position: absolute;
    right:0.5em;
    top:40px;
  }

}