#tweets-list {
  background: inherit;
  margin-top:50px;
  display:grid;
}
.tweet {
  position: relative;
  transition: 0.2s;
  margin-top: 30px;
  border:4px solid #545149;
}
.tweet header {
  position: relative;
  top:-120px;
  height:auto;
  background: inherit;
  padding:10px;
}

.tweet:hover {
  -webkit-box-shadow: 9px 10px 5px 3px rgba(196,196,230,1);
  -moz-box-shadow: 9px 10px 5px 3px rgba(196,196,230,1);
  box-shadow: 9px 10px 5px 3px rgba(196,196,230,1);
}
.user {
  float:left;
  padding:20px;
}

.user img {
  width:70px;
  height:70px;
}

.user span {
  position: absolute;
  display: block;
  top:50px;
  left: 110px;
  
}
.handle {
  opacity:0.7;
  font-weight: 401;
  color: #9497bd;
  position: absolute;
  display: block;
  top:50px;
  right: 20px;
}

.tweet-content {
  display:inline-flex;

  width:80%;
  position: relative;
  left:-20px;
  top:-50px;
  padding-left: 0px;
  text-align: left;
}

.tweet hr {
  border:none;
  background:#545149;
  width:90%;
  height: 4px;
  margin-top: -35px;
  margin-bottom: 30px;
 
}


.time-posted {
  font-size:12px;
  font-weight: 501;
  position:absolute;
  left:50px;
}

.social-collection {
  color:#4056A1;
  font-size: 12px;
  font-weight: 501;
  float:right;
  padding-right: 50px;
  padding-bottom: 20px;
}

.social-collection i {
  margin-right:10px;
}


@media only screen and (max-width: 400px){
  .tweet-content {
    position: relative;
    left:30px;
    top:-100px;
  }
  .handle {
    top:100px;
  }
}